.meta {
   display: flex;
   justify-content: space-between;
   gap: 16px;
}

.meta-timer {
   position: relative;
   padding: 8px fluid(16, 14, desktop, mobile);
   display: inline-flex;
   column-gap: 10px;
   border-radius: var(--radius);
   background-color: var(--color-bg);
  
}

.meta-category {
   display: flex;
   align-items: center;
   column-gap: 10px;
   font-size: 22px;
}
