.meta {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 16px;
}

.meta-timer {
   position: relative;
   padding: 8px 16px;
   display: inline-flex;
   column-gap: 10px;
   border-radius: var(--radius);
   background-color: var(--color-bg);
   //  background-image: linear-gradient(var(--color-gray), var(--color-dark) 50%);

   &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 1px;
      height: 100%;
      width: 99%;
      background-color: var(--color-accent);
      border-radius: inherit;
   }
}

.recipe-meta__category {
   display: flex;
   align-items: center;   
   gap: 10px;
   
}
