.recipe-meta__list {
   display: flex;
   gap: 16px;
}

.recipe-meta__list li {
   position: relative;
   padding: 8px 16px;
   display: inline-flex;
   column-gap: 10px;
   border-radius: var(--radius);
   background-image: linear-gradient(var(--color-gray), var(--color-dark) 50%);
}
