.field {
   position: relative;
   width: 100%;
   margin: 30px 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-width: 1px;
   border-style: solid;
   border-block: none;
   border-radius: 24px;
}

.field__input {
   width: 100%;
   min-inline-size: 150px;
   padding-left: fluid(25, 15, desktop, mobile);
   padding-block: 18px;
   border: none;
   outline: none;
   border-top-left-radius: inherit;
   border-bottom-left-radius: inherit;
   background: inherit;
   font-size: fluid(18, 16, desktop, mobile);
   color: var(--color-title-hover);
}

.field__label {
   position: absolute;
   left: 25px;
   opacity: 0.5;
   color: var(--color-white);
   font-family: var(--font-family);
   font-weight: 500;
   font-size: fluid(16, 14, desktop, mobile);
   letter-spacing: -0.02em;
   transition: all 0.3s ease;
   pointer-events: none;
}

.field__input:focus + .field__label,
.field__input:not(:placeholder-shown) + .field__label {
   color: var(--color-accent);
   transform: translateY(-35px) translateX(-10px) scale(0.8);
   opacity: 1;
}

.field-border-top,
.field-border-bottom {
   position: absolute;
   height: 2px;
   width: 96%;
   background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
   );
   transition: 0.25s ease;
}

.field-border-top {
   top: -1px;
   right: 2%;
}

.field-border-bottom {
   bottom: -1px;
   left: 2%;
}

.field__input:focus ~ .field-border-top,
.field__input:not(:placeholder-shown) ~ .field-border-top {
   width: 50%;
}

.field__input:focus ~ .field-border-bottom,
.field__input:not(:placeholder-shown) ~ .field-border-bottom {
   width: 50%;
   background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
   );
}

.field button {
   margin: 10px;
   padding-inline: fluid(45, 10, desktop, mobile);
}
