.rcp-card {
   position: relative;
   border-radius: var(--radius);

   &:nth-child(odd) {
      translate: 10px 25px;
      box-shadow: 7px 4px 10px 1px var(--color-black);
      border-right: 1px solid var(--color-gray);
      border-bottom: 1px solid var(--color-gray);
      opacity: 0;

      animation: recipe-card-center linear both;
      animation-timeline: view(block);
      animation-range: cover 0% cover 20%;

      @include tablet {
         transform: translateY(0);
      }

      .rcp-card__link {
         align-items: end;
         background-position-x: left;

         h3 {
            text-align: right;
         }
      }

      .rcp-card__like-button {
         left: -30px;
      }
   }

   &:nth-child(even) {
      translate: -10px 25px;
      box-shadow: -7px 4px 10px 1px var(--color-black);
      border-left: 1px solid var(--color-gray);
      border-bottom: 1px solid var(--color-gray);

      animation: recipe-card-center linear both;
      animation-timeline: view(block);
      animation-range: cover 0% cover 20%;

      .rcp-card__link {
         align-items: start;
         background-position-x: right;

         h3 {
            text-align: left;
         }
      }

      .rcp-card__like-button {
         right: -30px;
      }
   }
}

@keyframes recipe-card-center {
   to {
      translate: 0 0;
      opacity: 1;
   }
}

.rcp-card__link {
   position: relative;
   width: 100%;
   height: 100%;
   padding: fluid(30, 10, desktop, mobile);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   row-gap: 40px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 50%;
   background-origin: content-box;
   border-radius: inherit;
   overflow: clip;

   &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
   }

   @include hover {
      h3 {
         color: var(--color-title-hover);
      }
   }
}

.rcp-card__link h3 {
   position: relative;
   max-width: 13ch;
   margin: 0;
   color: rgba(255, 255, 255, 0.75);
   font-weight: 600;
   font-size: 24px;
   line-height: 133%;
   letter-spacing: -0.04em;
   transition: color 0.5s ease;
}

.rcp-card__tags {
   position: relative;
}

.rcp-card__like-button {
   position: absolute;
   top: -20px;
   height: 55px;
   width: 55px;
   border-radius: 50%;
   display: grid;
   place-items: center;
   color: var(--color-gray);
   border: 1px solid var(--color-dark);
   background-color: var(--color-dark);
   cursor: pointer;
   transition: border-color 0.5s ease;

   @include hover {
      border-color: var(--color-accent-hover);
   }
}

.is-liked {
   color: var(--color-accent);
}

.disable-hover {
   @include hover {
      border-color: transparent !important;
   }
}
