.contact-hero__wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;

   @include tablet {
      flex-wrap: wrap;
   }
}

.contact-hero__image {
   position: relative;
   height: fluid(470, 300, desktop, mobile);
   width: fluid(400, 270, desktop, mobile);

   &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(transparent 80%, var(--color-bg));
   }

   img {
      height: 100%;
      width: 100%;
      filter: brightness(0);
   }
}

.contact-form {
   width: 100%;
   display: grid;
   justify-items: start;
   grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
   gap: 30px;
}

.contact-form .textarea {
   grid-column: 1 / -1;
   min-height: fluid(200, 150, desktop, mobile);
   padding-top: 15px;
   align-items: start;

   & > textarea {
      height: 100%;
   }
}
