.soc1als__list {
   display: flex;
   column-gap: fluid(20, 5, desktop, mobile);
}

.soc1als__link {
   padding: 10px;
   display: grid;
   align-items: center;
   transition: 0.5s ease;

   @include hover {
      color: var(--color-accent);
   }
}
