.instagram__card {
   position: relative;
   // min-height: 445px;
   // max-width: 290px;
   display: flex;
   flex-direction: column;
   border: 2px solid transparent;
   border-radius: var(--radius);

   background:
      linear-gradient(
            var(--color-black),
            var(--color-dark, Canvas),
            var(--color-accent-hover, Canvas),
            var(--color-black)
         )
         padding-box,
      conic-gradient(
            from 0deg,
            var(--color-accent),
            var(--color-accent-hover),
            var(--color-accent)
         )
         border-box;

   //isolation: isolate;

   &::before,
   &::after {
      content: "";
      position: absolute;
      border-radius: inherit;
   }

   &::before {
      z-index: -1;
      inset: 0px;
      background: var(--color-dark, Canvas);
      filter: blur(7px);
   }
   &::after {
      z-index: -2;
      background: conic-gradient(
         from 0deg,
         var(--color-accent),
         var(--color-accent-hover),
         var(--color-accent)
      );
      inset: -2.5px;
      filter: blur(10px);
      opacity: 0.7;
   }
}

.instagram__card-header {
   padding: 20px 30px 0;
   display: flex;
   align-items: center;
   gap: 20px;
}

.instagram__card-logo {
   scale: 1.7;
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 50%;
}

.instagram__card-title {
   position: relative;
   width: fit-content;
   font-weight: 600;
   font-size: 16px;
   line-height: 138%;
   letter-spacing: -0.01em;
   color: var(--color-text);

   &::before {
      content: "\2713"; // юникод‑символ ✓
      position: absolute;
      top: -5px;
      right: -25px;
      height: 17px;
      width: 17px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-accent);
   }
}

.instagram__card-location {
   font-weight: 400;
   font-size: 12px;
   letter-spacing: 0.01em;
   color: var(--color-text-secondary);
}

.instagram__card--body {
   display: flex;
   flex-direction: column;
   flex: 1;
}

.instagram__card-img {
   margin-inline: auto;
   img {
      height: 350px;
      max-width: 275px;
   }
}

.instagram__card-icon {
   margin-top: auto;
   padding: 5px 30px 15px;
   display: flex;
   gap: 13px;
}

.instagram__card-icon span {
   width: 15px;
   height: 15px;

   &:nth-child(4) {
      margin-left: auto;
   }
}
