.rcp-card-mini {
   position: relative;
   min-height: fluid(250, 200, desktop, laptop);
   border-radius: var(--radius);
   background-repeat: no-repeat;
   background-position-y: top 10px;
   background-size: fluid(190, 125, desktop, mobile);
   background-origin: content-box;
   transition: 0.75s ease-out;
   @include hover {
      background-color: var(--color-black);

      h3 {
         color: var(--color-title-hover);
      }
   }

   &:nth-child(odd) {
      translate: 10px 25px;
      box-shadow: 7px 4px 10px 1px var(--color-black);
      border-right: 1px solid var(--color-gray);
      border-bottom: 1px solid var(--color-gray);
      opacity: 0;
      background-position-x: 15px;

      animation: recipe-card-center linear both;
      animation-timeline: view(block);
      animation-range: cover 0% cover 20%;

      .rcp-card-mini__link {
         align-items: end;

         h3 {
            text-align: right;
         }
      }

      .rcp-card-mini__liked {
         left: -3%;
      }
   }

   &:nth-child(even) {
      translate: -10px 25px;
      box-shadow: -7px 4px 10px 1px var(--color-black);
      border-left: 1px solid var(--color-gray);
      border-bottom: 1px solid var(--color-gray);
      background-position-x: right 15px;
      animation: recipe-card-center linear both;
      animation-timeline: view(block);
      animation-range: cover 0% cover 20%;

      .rcp-card-mini__link {
         align-items: start;

         h3 {
            text-align: left;
         }
      }

      .recipe-meta {
         flex-direction: row-reverse;
      }

      .rcp-card-mini__liked {
         right: -3%;
      }
   }
}

@keyframes recipe-card-center {
   to {
      translate: 0 0;
      opacity: 1;
   }
}

.rcp-card-mini__link {
   position: relative;
   height: 100%;
   padding: fluid(30, 20, desktop, mobile);
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: inherit;
}

.rcp-card-mini__link h3 {
   position: relative;
   max-width: 13ch;
   margin: 0;
   color: rgba(255, 255, 255, 0.75);
   font-weight: 600;
   font-size: 24px;
   line-height: 133%;
   letter-spacing: -0.04em;
   transition: color 0.5s ease;
}

.recipe-meta {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 10px;
   width: 90%; 
}

.rcp-card-mini__liked {
   position: absolute;
   top: -10%;
   height: fluid(55, 40, desktop, mobile);
   width: fluid(55, 40, desktop, mobile);
   border-radius: 50%;
   display: grid;
   place-items: center;
   color: var(--color-gray);
   border: 1px solid var(--color-dark);
   background-color: var(--color-dark);
   cursor: pointer;
   transition: border-color 0.5s ease;

   @include hover {
      border-color: var(--color-accent-hover);
   }
}

.is-liked {
   color: var(--color-accent);
}

.disable-hover {
   @include hover {
      border-color: transparent !important;
   }
}
