.footer {
   padding: 50px 0;
   background-color: var(--color-light-bg);
}

.footer-inner {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   // columns: 2 300px;
   // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 32px;
   align-items: center;

   @include laptop {
      justify-content: center;
   }
}

.footer-desc {
   display: grid;
   gap: 16px;
}

.footer-list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 60px;

   li {
      @include hover {
         color: var(--color-title-hover);
      }
   }
}

.footer-copyright {
   font-weight: 500;
   font-size: 18px;
   letter-spacing: -0.02em;

   span {
      font-weight: 500;
      color: var(--color-accent);
   }
}

.footer-extra {
   margin-top: fluid(100, 50, desktop, mobile);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 16px;

   @include tablet-l {
      justify-content: center;
   }
}

.footer-copyright {
}

.footer-extra .soc1als {
}
