.footer {
   padding: 50px 16px;
   background-color: var(--color-light-bg);
}

.footer-inner {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 100px;
   row-gap: 10px;
}

.footer-desc {
   display: grid;
   row-gap: 16px;
}

.footer-list {
   display: flex;
   column-gap: fluid(60, 15, desktop, mobile);

   li {
      padding: 10px;
      @include hover {
         color: var(--color-title-hover);
      }
   }
}

.footer-extra {
   margin-top: fluid(100, 30, desktop, mobile);
   display: flex;
   align-items: center;
   gap: fluid(50, 10, desktop, mobile);

   @include tablet {
      flex-direction: column;
   }
}

.footer-copyright {
   flex: 1;
   text-align: center;
   font-weight: 500;
   font-size: 18px;
   letter-spacing: -0.02em;

   span {
      font-weight: 500;
      color: var(--color-accent);
   }
}

.footer-copyright {
}

.footer-extra .soc1als {
}
