.banner {
   position: relative;
   display: flex;
   align-items: center;
   text-wrap: balance;
   overflow: clip;

   &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(transparent 80%, var(--color-bg) 95%);
   }

   @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
   }
}

.banner .section__link {
   background-color: var(--color-black);
   margin-top: fluid(70, 0, desktop, tablet);
}

.banner__image-cook {
   anchor-name: --banner-cook;
   width: fluid(660, 360, desktop, mobile);
   height: fluid(600, 300, desktop, mobile);
}

.banner__image-meat,
.banner__image-onion,
.banner__image-vegan,
.banner__image-tomato {
   position: absolute;
   position-anchor: --banner-cook;
   width: fluid(50, 20, desktop, mobile);
   height: fluid(50, 20, desktop, mobile);
}

.banner__image-meat {
   top: calc(anchor(top) + fluid(70, 50, desktop, mobile));
   left: calc(anchor(left) + fluid(100, 80, desktop, mobile));
   rotate: -20deg;
   animation: up-and-down 9s -5s linear infinite;
}

.banner__image-onion {
   top: calc(anchor(top) + fluid(100, 80, desktop, mobile));
   right: calc(anchor(right) + fluid(130, 110, desktop, mobile));
   animation: up-and-down 10s 0s linear infinite;
}

.banner__image-vegan {
   top: calc(anchor(top) + fluid(170, 150, desktop, mobile));
   right: calc(anchor(right) + fluid(14, 10, desktop, mobile));
   animation: up-and-down 9s -3s linear infinite;
}

.banner__image-tomato {
   left: calc(anchor(left) + fluid(25, 15, desktop, mobile));
   bottom: calc(anchor(bottom) + fluid(125, 105, desktop, mobile));
   animation: up-and-down 10s -1s linear infinite;
}

@keyframes up-and-down {
   0%,
   100% {
      translate: 0 -50px;
   }

   50% {
      translate: 0 50px;
   }
}
